.HeaderToDo{
    background-color: rgba(103,78,167, 0.7);
    text-align: center;
    padding: 30px;
    position: relative;
    bottom: 30px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px -6px black;
}

.HeaderTitle{
    text-align: center;
    justify-content: center;
    position: relative;
    color: white;
    font-size: 40px;
    font-family: 'Cinzel Decorative', cursive;
}

.logo{
    float: left;
    width:120px; 
    height:120px;
    margin: auto;
}