.ToDoSearch{
    display: flex;
    justify-content: end;
    position: relative;
}
.ToDoSearch svg {
    z-index: 9999;
    position: absolute;
    top: 18px;
    right: 30px;
    color: black;
}

.ButtonSearch{
    height: 30px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #473673;
    box-shadow: 0px 10px 10px -6px black; 
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat';
}
.ButtonSearch:focus, input:focus{
    outline: none;
}