.ToDoCounter {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  color: #473673;
  font-size: 30px;
  font-family: 'Courgette', cursive;
  font-family: 'Bonheur Royale', cursive;
  font-family: 'Courgette', cursive;
  font-family: 'Stick No Bills', sans-serif;
}
